body {
	font-family: Calibri, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #041B34;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

html, body {
	height: 100%;
}

h2 {
	margin: 0 50px 20px;
}

h3 {
	margin: 0 25px;
}

img {
	margin: 15px;
}

#main_content_wrap.outer {
	position: relative;
	flex: 1;
}

#main_content.inner {
	margin: 0 auto;
	position: absolute;
	top: 45%;
	left: 25%;
	right: 25%;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
}

@media only screen and (max-width: 768px) {
	#main_content.inner {
		left: 0%;
		right: 0%;
	}
}

a {
    text-decoration: none;
    color: #3491F4;
    text-shadow: none;    
}

a:hover,a:focus {
    text-decoration: none;
    color: #2162A7;
}

.button-container a {
	color: #FFFFFF;
}

.button-container a:hover,a:focus {
	color: #0D1117;
}

.button-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 300px;
	margin: auto;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3491F4;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 15px;
	transition: background-color 0.3s ease;
}

.button:hover {
	  background-color: #2162A7;
}

@media (max-width: 600px) {
	.button-container {
		max-width: 100%;
	}
}

.faq-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #3491F4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item a {
	color: #041B34;
}

.faq-item a:hover,a:focus {
	color: #0D1117;
}

.question {
	color: #FFFFFF;
	font-weight: bold;
}

.answer {
  color: #FFFFFF;
}


.footer {
	height: 2.5rem;    
	padding-top: 15px;
	padding-bottom: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	background-color: #0D1117;
	color: #FFFFFF;
	text-align: center;
	font-family: Calibri, sans-serif;
	font-size: 1em;
}
